:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: auto;
  padding: auto;
  color: #4a4a4a;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #f8f8f8;
  border-radius: 4px;
  box-shadow: none;
  color: #4a4a4a;
  display: block;
  padding: 1.5em;
}
.title {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  margin: auto
}


@media (prefers-color-scheme: light) {
  :root {
    color: #4a4a4a;;
    background-color: #ffffff;
  }
}
